body {
  background-color: #f1f5f8;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header h3:first-child {
  color: rgb(32, 169, 223);
}

.container {
  width: 100%;
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_text {
  width: 330px;
  min-width: 350px;
  background-color: black;
  margin-bottom: 3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}

.main_text h2 {
  font-size: 1.25rem;
  color: white;
}

.main_text h2 span {
  font-size: 1.09rem;
  margin-left: 0.25rem;
  color: rgb(32, 169, 223);
}

#btn {
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid black;
}

#btn:hover {
  color: white;
  background-color: black;
  transition: 300ms ease-in;
  cursor: pointer;
}
